* {
    margin: 0;
    padding: 0;
}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(45, 71, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    /* background-color: #2D4739; */
    background: linear-gradient(to top, rgba(45, 71, 57, 0.05) .5%, rgb(45, 71, 57) 20%, rgb(45, 71, 57));
    z-index: 2;
}


input {
    font-size: .75rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    width: 4rem;
}


input.precio,
input.clases,
input.casa {
    background-color: rgb(255, 230, 230);
}

input.mes,
input.dia {
    width: 4rem;
}

input.clases {
    width: 4rem;
}

input.casa {
    display: inline;
    width: 2rem;
    background-color: rgb(200, 255, 255);
}

input.precio-casa,
input.casa {
    display: none;
    width: 4rem;
    background-color: rgb(200, 255, 255);
}

input.btn-generar-maca {
    display: none;
    width: 6rem;
    color: whitesmoke;
    background-color: #ABB557;
}

input.btn-generar {
    width: 6rem;
    color: whitesmoke;
    background-color: #ABB557;
    border-radius: 1rem;
}


input.btn-borrar {
    width: 8rem;
    color: rgb(245, 245, 245);
    background-color: rgb(220, 50, 50);
    border-radius: 1rem;
}


div.total-container {
    display: flex;
    flex-direction: row;
    color: rgb(220, 220, 220);
    padding: .75rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: .5rem;
}


.output {
    align-items: end;
    width: 30rem;
    padding: 1rem;
    color: rgb(175, 175, 175);
    margin-top: 3.75rem;
}


h3 {
    margin-bottom: 0.5rem;
}


.texto {
    color: whitesmoke
}


div.div-copiar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-copiar {
    cursor:pointer;
    border: 1px solid black;
    right: 0;
    padding: 0.5rem;
    font-size: 0.65rem;
    border-radius: .5rem;
    background-color: rgba(241, 251, 157, 0.5);
    transition: .25s;
}

.btn-copiado {
    cursor:pointer;
    border: 1px solid black;
    color: whitesmoke;
    right: 0;
    padding: 0.5rem;
    font-size: 0.65rem;
    border-radius: .5rem;
    background-color: rgba(200, 230, 200, 0.8);
    box-shadow: 0 0 1px 1px rgb(200, 230, 200);
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
}